.App {
    margin: 0;
    text-align: center;
}

.row {
    display: flex;
    flex-direction:row;
    justify-content: center;
}



.step {
    border: solid, 5px, black;
    height: 50px;
    width: 50px;
    margin: 2px;
}

.step_track {
    height: 10px;
    width:50px;
    margin: 2px;
}

.active-2 {
    background-color:rgb(12, 88, 98);
}
.active-1 {
    background-color:rgb(23, 166, 185);
}
.active-0 {
    background-color:rgb(187, 126, 126);
}

.track_active-true {
    background-color:rgb(222, 71, 71);
}
.track_active-false {
    background-color:rgb(255, 255, 255);
}
